@font-face {
  font-family: "DMSans-Thin";
  src: url("~@/assets/fonts/DMSans-Thin.ttf");
}
@font-face {
  font-family: "DMSans-ExtraLight";
  src: url("~@/assets/fonts/DMSans-ExtraLight.ttf");
}
@font-face {
  font-family: "DMSans-Light";
  src: url("~@/assets/fonts/DMSans-Light.ttf");
}
@font-face {
  font-family: "DMSans-Regular";
  src: url("~@/assets/fonts/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("~@/assets/fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSans-SemiBold";
  src: url("~@/assets/fonts/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("~@/assets/fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DMSans-ExtraBold";
  src: url("~@/assets/fonts/DMSans-ExtraBold.ttf");
}
@font-face {
  font-family: "DMSans-Black";
  src: url("~@/assets/fonts/DMSans-Black.ttf");
}

:root {
  /* font families */
  --font-family-dm-sans-100: "DMSans-Thin", sans-serif;
  --font-family-dm-sans-200: "DMSans-ExtraLight", sans-serif;
  --font-family-dm-sans-300: "DMSans-Light", sans-serif;
  --font-family-dm-sans-400: "DMSans-Regular", sans-serif;
  --font-family-dm-sans-500: "DMSans-Medium", sans-serif;
  --font-family-dm-sans-600: "DMSans-SemiBold", sans-serif;
  --font-family-dm-sans-700: "DMSans-Bold", sans-serif;
  --font-family-dm-sans-800: "DMSans-ExtraBold", sans-serif;
  --font-family-dm-sans-900: "DMSans-Black", sans-serif;

  /* colors */
  --primary: #1a1625;
  --secondary: #2f2b3a;
  --accent: #46424f;
  --info: #5e5a66;
  --success: #76737e;
  --light: #908d96;
  --off-white: #f0f0f0;
}

html,
body,
* {
  font-family: var(--font-family-dm-sans-400) !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

/* font family css */
.font-family-dm-sans-100 {
  font-family: var(--font-family-dm-sans-100) !important;
}
.font-family-dm-sans-200 {
  font-family: var(--font-family-dm-sans-200) !important;
}
.font-family-dm-sans-300 {
  font-family: var(--font-family-dm-sans-300) !important;
}
.font-family-dm-sans-400 {
  font-family: var(--font-family-dm-sans-400) !important;
}
.font-family-dm-sans-500 {
  font-family: var(--font-family-dm-sans-500) !important;
}
.font-family-dm-sans-600 {
  font-family: var(--font-family-dm-sans-600) !important;
}
.font-family-dm-sans-700 {
  font-family: var(--font-family-dm-sans-700) !important;
}
.font-family-dm-sans-800 {
  font-family: var(--font-family-dm-sans-800) !important;
}
.font-family-dm-sans-900 {
  font-family: var(--font-family-dm-sans-900) !important;
}

/* custom default css */
.text-size-10 {
  font-size: 10px !important;
}
.text-size-12 {
  font-size: 12px !important;
}
.text-size-14 {
  font-size: 14px !important;
}
.text-size-16 {
  font-size: 16px !important;
}
.text-size-18 {
  font-size: 18px !important;
}
.text-size-20 {
  font-size: 20px !important;
}
.text-size-22 {
  font-size: 22px !important;
}
.pointer {
  cursor: pointer !important;
}
.nested-pointer * {
  cursor: pointer !important;
}
.default-cursor {
  cursor: default !important;
}
.text-cursor {
  cursor: text !important;
}

/* Custom Tooltip CSS */

/* top tooltip */
.tooltip-top::before {
  border-right: solid 8px transparent;
  border-left: solid 8px transparent;
  transform: translateX(-50%);
  position: absolute;
  z-index: -21;
  content: "";
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}
.tooltip-top.white::before {
  border-bottom: solid 8px #ffffff;
}
/* bottom tooltip */
.tooltip-bottom::before {
  border-right: solid 6px transparent;
  border-left: solid 6px transparent;
  transform: translateX(-50%);
  position: absolute;
  z-index: -21;
  content: "";
  bottom: 100%;
  left: 50%;
  height: 0;
  width: 0;
}
.tooltip-bottom.white::before {
  border-bottom: solid 8px #ffffff;
}
/* left tooltip */
.tooltip-left::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-right: solid 8px transparent;
}
.tooltip-left.white::before {
  border-left: solid 8px #ffffff !important;
}
/* right tooltip */
.tooltip-right::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-left: solid 8px transparent;
}
.tooltip-right.white::before {
  border-right: solid 8px #ffffff !important;
}

.tooltip-top.v-tooltip__content,
.tooltip-bottom.v-tooltip__content,
.tooltip-left.v-tooltip__content,
.tooltip-right.v-tooltip__content {
  background: white !important;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3) !important;
  opacity: 1 !important;
  font-size: 14px !important;
  border-radius: 6px !important;
}

.tooltip-text {
  color: #424242;
}

.width-100 {
  width: 100% !important;
}
.height-100 {
  height: 100% !important;
}
.remove-card-focus-effect.v-card--link:before {
  background-color: transparent !important;
}
.general-card-border {
  border-radius: 8px !important;
  border: 1px solid var(--off-white) !important;
}
